################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Software Projects/PX Series Controller/CodeBase/Logging/2017
