################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Software Projects/PX Series Controller/CodeBase/Logging/2017
/Software Projects/PX Series Controller/IDE/VisualStudio/PX_Series_Controller/.vs/PX_Series_Controller/v15
/Software Projects/PX Series Controller/IDE/VisualStudio/PX_Series_Controller/Components_Win32/Debug
/Software Projects/PX Series Controller/IDE/VisualStudio/PX_Series_Controller/Components_Win32/x64/Debug
/Software Projects/PX Series Controller/IDE/VisualStudio/PX_Series_Controller/Controller/Debug
/Software Projects/PX Series Controller/IDE/VisualStudio/PX_Series_Controller/Controller/x64/Debug
/Software Projects/PX Series Controller/IDE/VisualStudio/PX_Series_Controller/DataModel/Debug
/Software Projects/PX Series Controller/IDE/VisualStudio/PX_Series_Controller/DataModel/x64/Debug
/Software Projects/PX Series Controller/IDE/VisualStudio/PX_Series_Controller/Debug/Components_Win32.tlog
/Software Projects/PX Series Controller/IDE/VisualStudio/PX_Series_Controller/Debug
/Software Projects/PX Series Controller/IDE/VisualStudio/PX_Series_Controller/PX4_Emulator/Debug
/Software Projects/PX Series Controller/IDE/VisualStudio/PX_Series_Controller/PX4_Emulator/x64/Debug/PX4_Emulator.tlog
/Software Projects/PX Series Controller/IDE/VisualStudio/PX_Series_Controller/PX4_Emulator/x64/Debug
/Software Projects/PX Series Controller/IDE/VisualStudio/PX_Series_Controller/PX4_Emulator/PX4_Logs/2017
/Software Projects/PX Series Controller/IDE/VisualStudio/PX_Series_Controller/PX4_Emulator/PX4_Logs/2018
/Software Projects/PX Series Controller/IDE/VisualStudio/PX_Series_Controller/PX4_Emulator/PersistentData
/Software Projects/PX Series Controller/IDE/VisualStudio/PX_Series_Controller/SharedStructures/x64/Debug
/Software Projects/PX Series Controller/IDE/VisualStudio/PX_Series_Controller/SharedStructures/Debug
/Software Projects/PX Series Controller/IDE/VisualStudio/PX_Series_Controller/Task/Debug
/Software Projects/PX Series Controller/IDE/VisualStudio/PX_Series_Controller/Task/x64/Debug
/Software Projects/PX Series Controller/IDE/VisualStudio/PX_Series_Controller/Viewstate/Debug
/Software Projects/PX Series Controller/IDE/VisualStudio/PX_Series_Controller/Viewstate/x64/Debug
/Software Projects/PX Series Controller/IDE/VisualStudio/PX_Series_Controller/x64/Debug
/Software Projects/PX Series Controller/IDE/AtmelStudio/PX_Series_Controller/ArduinoCore/Debug/include
/Software Projects/PX Series Controller/IDE/AtmelStudio/PX_Series_Controller/ArduinoCore/Debug/src
/Software Projects/PX Series Controller/IDE/AtmelStudio/PX_Series_Controller/PX4_Launcher/Debug/include
/Software Projects/PX Series Controller/IDE/AtmelStudio/PX_Series_Controller/PX4_Launcher/Debug/src